table {
    /* vw et vh sont des valeurs relatifs à la page web et non
    une unité de mesure fixe 
    Source : https://www.geeksforgeeks.org/css/explain-the-concept-of-the-vh-and-vw-units-in-css/ */
    width: 100vw;
}

td:hover {
    background-color: coral;
}

h1, h2 {
  text-align: center;
  font-size: 27px;
  color: white;
}

img {
  display: block;
  margin: auto;
}

body {
    margin: 5px;
    background-color: black;
}

p {
    color: white;
    text-decoration: bold;
    text-font: helvetica;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 15px;
    float: right;
}

.difficulte {
    width: 100px;
}

.modefacile, .modemoyen1, .modemoyen2, .modedifficile, .nous {
    border-radius: 15px;
    padding: 15px;
    background: coral;
}

.nous:hover {
    background: black;
}

.modefacile:hover {
    background: black;
}

.modemoyen1:hover {
    background: black;
}

.modemoyen2:hover {
    background: black;
}

.modedifficile:hover {
    background: black;
}
