table {
    /* vw et vh sont des valeurs relatifs à la page web et non
    une unité de mesure fixe 
    Source : https://www.geeksforgeeks.org/css/explain-the-concept-of-the-vh-and-vw-units-in-css/ */
    width: 100vw;
}

h1 {
  text-align: center;
  font-size: 27px;
  color: white;
}

img {
  display: block;
  margin: auto;
}

body {
    margin: 5px;
    background-color: black;
}

p {
    color: white;
    text-decoration: bold;
    text-font: helvetica;
}

.difficulte {
    width: 100px;
}
