/* source : https://www.w3schools.com/css/css_display_hide.asp */

#cacheBouton {
    display: none;
}

#cache {
    display: none;
}

.boutonsoumettre {
  color: white;
  padding: 15px;
  cursor: pointer;
  background-color: coral;
}
